html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.play_container,
.host_container {
  height: 100%;
  width: 100%;
  background-color: #000;
}

.access_room {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.access_room .border_container {
  padding: 1px;
  border-radius: 10px;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  /* Gradient */
}
.access_room .border_container .code_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 15px;
  width: 300px;
  background-color: black;
  border-radius: 10px;
  padding: 15px;
}
.access_room .border_container .code_container .border_input {
  height: 40px;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  /* Gradient */
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1px;
}
.access_room .border_container .code_container .border_input #private_code {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.access_room .border_container .code_container .border_input #private_code::-webkit-inner-spin-button, .access_room .border_container .code_container .border_input #private_code::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.access_room .border_container .code_container #submit_private_code {
  height: 40px;
  text-align: center;
  outline: none;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  border-radius: 5px;
  border: 0;
  color: white;
  cursor: pointer;
}
.access_room .border_container .code_container #submit_private_code:hover {
  opacity: 0.8;
}

.waiting_room {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.waiting_room .title {
  font-size: 50px;
  font-weight: 600;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
}
.quizz_room {
  height: 100%;
  width: 100%;
}
.quizz_room .header {
  height: 7%;
  display: flex;
  align-items: center;
  background-color: #080808;
  box-sizing: border-box;
  padding: 0 50px;
  border-bottom: 2px solid;
  /* Set the border width */
  border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
  color: white;
}
.quizz_room .header .logo {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
}
.quizz_room .header .logo:hover {
  font-size: 21px;
  transition: all 0.2s;
}
.quizz_room .header .logout {
  font-size: 15px;
  font-weight: 100;
  margin-left: auto;
  opacity: 0.5;
  cursor: pointer;
}
.quizz_room .header .logout:hover {
  font-weight: 400;
  opacity: 0.8;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
  transition: all 0.2s;
}
.quizz_room .answer_container {
  height: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.quizz_room .answer_container .question {
  line-height: 1;
  text-align: center;
  font-size: clamp(1px, 2vw, 250%);
  line-height: 1;
  padding-bottom: 50px;
}
.quizz_room .answer_container .row {
  display: grid;
  width: 300px;
  height: 30px;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
  text-align: center;
}
.quizz_room .answer_container .row .border {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1px;
}
.quizz_room .answer_container .row .border .black_background {
  background-color: #000;
  border-radius: 5px;
  height: 100%;
}
.quizz_room .answer_container .row .border .black_background .rank {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100%;
  border-radius: 5px;
}
.quizz_room .answer_container .row .record {
  background-color: #000;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  height: 100%;
  width: 100%;
}
.quizz_room .answer_container .submit_answer {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  width: fit-content;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  opacity: 0.8;
}
.quizz_room .answer_container .submit_answer:hover {
  background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
  opacity: 1;
}

.lobby_room {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.lobby_room .start_button {
  position: absolute;
  top: 50px;
  right: 50px;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.lobby_room .start_button:hover {
  opacity: 0.8;
}
.lobby_room .border {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  width: fit-content;
  padding: 1px;
  border-radius: 5px;
  user-select: auto;
}
.lobby_room .border .background {
  background-color: #000;
  border-radius: 5px;
}
.lobby_room .border .background .invite_code {
  position: relative;
  width: min-content;
  height: min-content;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 1;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}
.lobby_room .border .background .invite_code .copied {
  position: absolute;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  color: black;
  line-height: 1;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  top: -35px;
}
.lobby_room .user_connected {
  position: absolute;
  top: 99px;
  display: flex;
  gap: 15px;
}
.lobby_room .user_connected .user {
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: #000;
  border-radius: 5px;
}

.leaderboard_room {
  height: 100%;
  width: 100%;
  background-color: #000;
}
.leaderboard_room .header {
  height: 7%;
  display: flex;
  align-items: center;
  background-color: #080808;
  box-sizing: border-box;
  padding: 0 50px;
  border-bottom: 2px solid;
  border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
  color: white;
}
.leaderboard_room .header .logo {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
}
.leaderboard_room .header .logo:hover {
  font-size: 21px;
  transition: all 0.2s;
}
.leaderboard_room .header .logout {
  font-size: 15px;
  font-weight: 100;
  margin-left: auto;
  opacity: 0.5;
  cursor: pointer;
}
.leaderboard_room .header .logout:hover {
  font-weight: 400;
  opacity: 0.8;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
  transition: all 0.2s;
}
.leaderboard_room .table_container {
  height: 93%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaderboard_room .table {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.leaderboard_room .table .row {
  display: grid;
  width: 425px;
  grid-template-columns: 50px 1fr 75px 75px;
  column-gap: 15px;
  height: 35px;
  text-align: center;
}
.leaderboard_room .table .row .key {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 30px;
}
.leaderboard_room .table .row .border {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  padding: 1px;
  border-radius: 5px;
}
.leaderboard_room .table .row .rank,
.leaderboard_room .table .row .points,
.leaderboard_room .table .row .timestamp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
.leaderboard_room .table .row .username {
  background-color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  height: 100%;
  width: 100%;
}

.review_room {
  height: 100%;
  width: 100%;
}
.review_room .next_button {
  position: absolute;
  top: 50px;
  right: 50px;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.review_room .next_button:hover {
  opacity: 0.8;
}
.review_room .question_container {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #434343;
  box-sizing: border-box;
  overflow: hidden;
}
.review_room .question_container .question {
  line-height: 1;
  text-align: center;
  font-size: clamp(1px, 2vw, 250%);
  line-height: 1;
}
.review_room .answer_container {
  box-sizing: border-box;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.review_room .answer_container .user_answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}
.review_room .answer_container .user_answer .submit_answer {
  margin-top: 10px;
  padding: 7px 20px;
  color: white;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.review_room .answer_container .user_answer .submit_answer:hover {
  opacity: 0.8;
}
.review_room .answer_container .user_answer .username {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}
.review_room .answer_container .user_answer .submit_time {
  width: 100%;
  text-align: center;
  font-weight: 100;
}
.review_room .answer_container .user_answer .row {
  width: 450px;
  display: grid;
  grid-template-columns: 50px 1fr 35px 35px;
  column-gap: 10px;
  height: 35px;
}
.review_room .answer_container .user_answer .row .border {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1px;
}
.review_room .answer_container .user_answer .row .border .rank {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100%;
  border-radius: 5px;
}
.review_room .answer_container .user_answer .row .border .record {
  background-color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  padding: 0 10px;
}
.review_room .answer_container .user_answer .row .correct,
.review_room .answer_container .user_answer .row .position {
  fill: #2E2E2E;
  height: 100%;
}

.login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.login .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.login .border {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  height: 40px;
  width: 350px;
  padding: 1px;
  border-radius: 5px;
}
.login .title {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}
.login input {
  background-color: #000;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  display: block;
  margin-right: 0;
  padding: 0 10px;
}
.login .invalid_email {
  font-size: 10px;
  font-weight: 600;
  width: 100%;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  color: transparent;
}
.login .validate_login {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  color: white;
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 350px;
  margin-top: 15px;
  cursor: pointer;
}
.login .validate_login:hover {
  opacity: 0.8;
}

.dashboard {
  height: 100%;
  width: 100%;
  background-color: #000;
}
.dashboard .header {
  height: 7%;
  display: flex;
  align-items: center;
  background-color: #080808;
  box-sizing: border-box;
  padding: 0 50px;
  border-bottom: 2px solid;
  /* Set the border width */
  border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
  color: white;
}
.dashboard .header .logo {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  color: transparent;
}
.dashboard .header .logo:hover {
  font-size: 21px;
  transition: all 0.2s;
}
.dashboard .header .logout {
  font-size: 15px;
  font-weight: 100;
  margin-left: auto;
  opacity: 0.5;
  cursor: pointer;
}
.dashboard .header .logout:hover {
  font-weight: 400;
  opacity: 0.8;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
  transition: all 0.2s;
}
.dashboard .container {
  height: 93%;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
@media screen and (max-width: 1200px) {
  .dashboard .container {
    justify-content: center;
  }
}
.dashboard .container .card {
  height: 400px;
  width: 350px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 35px;
  gap: 15px;
  cursor: pointer;
  color: white;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
}
.dashboard .container .card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
}
.dashboard .container .card .title {
  font-size: 50px;
  font-weight: 600;
}
.dashboard .container .card .subtitle {
  font-weight: 100;
}

.hostdashboard {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.hostdashboard .header {
  height: 7%;
  display: flex;
  align-items: center;
  background-color: #080808;
  box-sizing: border-box;
  padding: 0 50px;
  border-bottom: 2px solid;
  /* Set the border width */
  border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
  color: white;
}
.hostdashboard .header .logo {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
}
.hostdashboard .header .logo:hover {
  font-size: 21px;
  transition: all 0.2s;
}
.hostdashboard .header .logout {
  font-size: 15px;
  font-weight: 100;
  margin-left: auto;
  opacity: 0.5;
  cursor: pointer;
}
.hostdashboard .header .logout:hover {
  font-weight: 400;
  opacity: 0.8;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
  transition: all 0.2s;
}
.hostdashboard .container {
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.hostdashboard .container .card {
  min-width: 260px;
  width: 350px;
  height: 150px;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.hostdashboard .container .card .locked {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes vibration {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-2px, 2px);
  }
  100% {
    transform: translate(0);
  }
}
.hostdashboard .container .card .locked .lock {
  padding: 5px;
  background-color: #080808;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer; /* Indicates it's interactive */
  transition: transform 0.1s ease-in-out;
}
.hostdashboard .container .card .locked .lock:hover {
  animation: vibration 0.3s ease-in-out infinite; /* Run the animation when hovering */
}
.hostdashboard .container .card .locked:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.hostdashboard .container .card .title {
  font-size: 30px;
  font-weight: 600;
}
.hostdashboard .container .card .description {
  font-size: 20px;
  font-weight: 100;
}
.hostdashboard .container .card:hover {
  background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
}

.create {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.create .delete_confirmation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}
.create .delete_confirmation .del_container {
  height: 150px;
  width: 250px;
  background-color: #080808;
  border-radius: 25px;
  flex-direction: column;
  padding: 25px;
  display: flex;
  gap: 25px;
  align-items: end;
  justify-content: center;
  text-align: center;
}
.create .delete_confirmation .del_container .action {
  display: flex;
  gap: 25px;
  width: 100%;
  align-items: end;
  justify-content: center;
}
.create .delete_confirmation .del_container .confirm {
  border: 1px solid #FF4C4C;
  border-radius: 10px;
  width: fit-content;
  color: #FF4C4C;
  padding: 5px 10px;
  cursor: pointer;
}
.create .delete_confirmation .del_container .confirm:hover {
  background-color: #FF4C4C;
  color: #080808;
}
.create .delete_confirmation .del_container .cancel {
  border: 1px solid grey;
  color: grey;
  border-radius: 10px;
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
}
.create .delete_confirmation .del_container .cancel:hover {
  background-color: grey;
  color: #080808;
}
.create .close {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.create .border {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  width: 50%;
  padding: 1px;
  border-radius: 25px;
}
.create .create_dashboard {
  position: relative;
  box-sizing: border-box;
  padding: 50px 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: fit-content;
}
.create .create_dashboard .actions {
  display: flex;
  gap: 10px;
}
.create .create_dashboard .actions .delete {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  width: 40px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create .create_dashboard .actions .delete:hover {
  background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
}
.create .create_dashboard .actions .save {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  width: 60px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.create .create_dashboard .actions .save .loading_spinner {
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-left-color: white; /* Color of the spinner */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
.create .create_dashboard .actions .save:hover {
  background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
}
.create .create_dashboard .titles {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.create .create_dashboard .titles input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.create .create_dashboard .titles input.title {
  font-size: 35px;
}
.create .create_dashboard .titles input.description {
  font-size: 25px;
}
.create .create_dashboard .question_container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0 50px;
  gap: 10px;
  width: 100%;
}
.create .create_dashboard .question_container .question .bin {
  position: absolute;
}
.create .create_dashboard .question_container div {
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.create .create_dashboard .question_container div:hover {
  opacity: 0.8;
}
.create .create_dashboard .question_dashboard {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 50px;
  gap: 10px;
  width: 100%;
}
.create .create_dashboard .question_dashboard .question {
  background-color: transparent;
  border: 1px solid #2E2E2E;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 2px;
  outline: none;
  color: white;
}
.create .create_dashboard .question_dashboard .answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.create .create_dashboard .question_dashboard .answers .add_question {
  text-align: center;
  font-size: 12px;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
}
.create .create_dashboard .question_dashboard .answers .add_question:hover {
  opacity: 0.8;
}
.create .create_dashboard .question_dashboard .answers .row {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  column-gap: 10px;
  grid-template-columns: 50px 1fr 30px;
}
.create .create_dashboard .question_dashboard .answers .row .border_rank {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1px;
}
.create .create_dashboard .question_dashboard .answers .row .border_rank .black_background {
  background-color: #000;
  border-radius: 5px;
}
.create .create_dashboard .question_dashboard .answers .row .rank {
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
  font-weight: 800;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.create .create_dashboard .question_dashboard .answers .row .record {
  background-color: transparent;
  width: 100%;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 2px;
  outline: none;
  color: white;
}
.create .create_dashboard .question_dashboard .answers .row .remove {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.create .create_dashboard .question_dashboard .answers .row .remove:hover {
  opacity: 0.8;
}

.create_dashboard {
  height: 100%;
  width: 100%;
  background-color: #000;
}
.create_dashboard .header {
  height: 7%;
  display: flex;
  align-items: center;
  background-color: #080808;
  box-sizing: border-box;
  padding: 0 50px;
  border-bottom: 2px solid;
  /* Set the border width */
  border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
  color: white;
}
.create_dashboard .header .logo {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
}
.create_dashboard .header .logo:hover {
  font-size: 21px;
  transition: all 0.2s;
}
.create_dashboard .header .logout {
  font-size: 15px;
  font-weight: 100;
  margin-left: auto;
  opacity: 0.5;
  cursor: pointer;
}
.create_dashboard .header .logout:hover {
  font-weight: 400;
  opacity: 0.8;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text itself transparent */
  transition: all 0.2s;
}
.create_dashboard .add_quizz {
  position: absolute;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.create_dashboard .add_quizz:hover {
  background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
  border: 1px solid white;
}
.create_dashboard .container {
  position: relative;
  box-sizing: border-box;
  padding: 50px;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.create_dashboard .container .card {
  min-width: 260px;
  width: 350px;
  height: 150px;
  background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
}
.create_dashboard .container .card .title {
  font-size: 30px;
  font-weight: 600;
}
.create_dashboard .container .card .description {
  font-size: 20px;
  font-weight: 100;
}
.create_dashboard .container .card:hover {
  background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: white;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.overlay .username {
  font-size: 25px;
  font-weight: 600;
}
.overlay .ranking {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.overlay .ranking .entry {
  display: grid;
  position: relative;
  grid-template-columns: 62px 262px;
  height: 62px;
  background-color: #2E2E2E;
}
.overlay .ranking .entry .lock {
  position: absolute;
  height: 62px;
  left: 62px;
  width: 262px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
}
.overlay .ranking .entry .rank, .overlay .ranking .entry .record {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .ranking .entry .rank {
  background-color: #7c00e9;
  font-weight: 800;
  font-size: 25px;
}
.overlay .ranking .entry .record {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
