html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    user-select: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
  }

.play_container,
.host_container {
    height: 100%;
    width: 100%;
    background-color: #000;
}

.access_room {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .border_container {
        padding: 1px;
        border-radius: 10px;
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        /* Gradient */

        .code_container {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            gap: 15px;
            width: 300px;
            background-color: black;
            border-radius: 10px;
            padding: 15px;

            .border_input {
                height: 40px;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                /* Gradient */
                border-radius: 5px;
                box-sizing: border-box;
                padding: 1px;

                #private_code {
                    height: 100%;
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    border: none;
                    outline: none;
                    color: white;
                    background-color: black;
                    border-radius: 5px;

                    &::-webkit-inner-spin-button,
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }
            }



            #submit_private_code {
                height: 40px;
                text-align: center;
                outline: none;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                border-radius: 5px;
                border: 0;
                color: white;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }

        }
    }


}

.waiting_room {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 50px;
        font-weight: 600;
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        -webkit-background-clip: text;
        /* Clip the background to the text */
        color: transparent;
        /* Make the text itself transparent */
    }

    .subtitle{
        
    }
}

.quizz_room {
    height: 100%;
    width: 100%;

    .header {
        height: 7%;
        display: flex;
        align-items: center;
        background-color: #080808;
        box-sizing: border-box;
        padding: 0 50px;
        border-bottom: 2px solid;
        /* Set the border width */
        border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
        color: white;

        .logo {
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
            -webkit-background-clip: text;
            /* Clip the background to the text */
            color: transparent;
            /* Make the text itself transparent */

            &:hover {
                font-size: 21px;
                transition: all 0.2s;

            }
        }

        .logout {
            font-size: 15px;
            font-weight: 100;
            margin-left: auto;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                font-weight: 400;
                opacity: 0.8;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                -webkit-background-clip: text;
                /* Clip the background to the text */
                color: transparent;
                /* Make the text itself transparent */
                transition: all 0.2s;
            }
        }
    }

    .answer_container {
        height: 80%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .question {
            line-height: 1;
            text-align: center;
            font-size: clamp(1px, 2vw, 250%);
            line-height: 1;
            padding-bottom: 50px;
        }


        .row {
            display: grid;
            width: 300px;
            height: 30px;
            grid-template-columns: 50px 1fr;
            column-gap: 10px;
            text-align: center;

            .border {
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                box-sizing: border-box;
                border-radius: 5px;
                padding: 1px;

                .black_background {
                    background-color: #000;
                    border-radius: 5px;
                    height: 100%;

                    .rank {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #000;
                        height: 100%;
                        border-radius: 5px;
                    }
                }

                
            }

            .record {
                background-color: #000;
                border: none;
                outline: none;
                border-radius: 5px;
                color: white;
                text-align: center;
                height: 100%;
                width: 100%;
            }
        }

        .submit_answer {
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
            width: fit-content;
            border: none;
            border-radius: 10px;
            color: white;
            padding: 10px 20px;
            margin-top: 20px;
            cursor: pointer;
            opacity: 0.8;

            &:hover{
                background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
                opacity: 1;
            }
        }


    }
}

.lobby_room {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .start_button {
        position: absolute;
        top: 50px;
        right: 50px;
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .border{
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        width: fit-content;
        padding: 1px;
        border-radius: 5px;
        user-select: auto;

        .background{

            background-color: #000;
            border-radius: 5px;

            .invite_code {

                position: relative;

                width: min-content;
                height: min-content;
                padding: 10px 20px;
                border-radius: 5px;

                background-color: #000;

                display: flex;
                justify-content: center;
                align-items: center;

                font-size: 45px;
                font-weight: 600;
                line-height: 1;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                -webkit-background-clip: text;
                color: transparent;

                cursor: pointer;

                .copied{
                    position: absolute;
                    background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                    color: black;
                    line-height: 1;
                    padding: 5px 10px;
                    font-size: 12px;
                    border-radius: 5px;
                    top: -35px;
                }
            }

        }
    }



    .user_connected {
        position: absolute;
        top: 99px;
        display: flex;
        gap: 15px;

        .user {
            width: fit-content;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background: #000;
            border-radius: 5px;
        }
    }
}

.leaderboard_room {
    height: 100%;
    width: 100%;
    background-color: #000;

    .header {
        height: 7%;
        display: flex;
        align-items: center;
        background-color: #080808;
        box-sizing: border-box;
        padding: 0 50px;
        border-bottom: 2px solid;
        border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
        color: white;

        .logo {
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
            -webkit-background-clip: text;
            /* Clip the background to the text */
            color: transparent;
            /* Make the text itself transparent */

            &:hover {
                font-size: 21px;
                transition: all 0.2s;

            }
        }

        .logout {
            font-size: 15px;
            font-weight: 100;
            margin-left: auto;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                font-weight: 400;
                opacity: 0.8;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                -webkit-background-clip: text;
                /* Clip the background to the text */
                color: transparent;
                /* Make the text itself transparent */
                transition: all 0.2s;
            }
        }
    }

    .table_container{
        height: 93%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .table {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .row {
            display: grid;
            width: 425px;
            grid-template-columns: 50px 1fr 75px 75px;
            column-gap: 15px;
            height: 35px;
            text-align: center;

            .key{
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                height: 30px;
            }

            .border{
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                padding: 1px;
                border-radius: 5px;
            }

            .rank,
            .points,
            .timestamp {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #000;
                border-radius: 5px;
                height: 100%;
                width: 100%;
            }

            .username {
                background-color: #000;
                border-radius: 5px;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding: 0 10px;
                height: 100%;
                width: 100%;
            }

        }
    }
}

.review_room {

    height: 100%;
    width: 100%;

    .next_button {
        position: absolute;
        top: 50px;
        right: 50px;
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }


    .question_container {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #434343;
        box-sizing: border-box;
        overflow: hidden;

        .question {
            line-height: 1;
            text-align: center;
            font-size: clamp(1px, 2vw, 250%);
            line-height: 1;
        }
    }

    .answer_container {
        box-sizing: border-box;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;

        .user_answer {

            display: flex;
            flex-direction: column;
            gap: 10px;
            width: fit-content;

            .submit_answer {
                margin-top: 10px;
                padding: 7px 20px;
                color: white;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                border-radius: 5px;
                border: none;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }

            .username {
                width: 100%;
                text-align: center;
                font-size: 35px;
                font-weight: 600;
            }

            .submit_time {
                width: 100%;
                text-align: center;
                font-weight: 100;
            }

            .row {
                width: 450px;
                display: grid;
                grid-template-columns: 50px 1fr 35px 35px;
                column-gap: 10px;
                height: 35px;

                .border {
                    background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                    box-sizing: border-box;
                    border-radius: 5px;
                    padding: 1px;
    
                    .rank {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #000;
                        height: 100%;
                        border-radius: 5px;
                    }

                    .record {
                        background-color: #000;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        box-sizing: border-box;
                        height: 100%;
                        padding: 0 10px;
                    }
                    
                }

                .correct,
                .position {
                    fill: #2E2E2E;
                    height: 100%;
                }
            }


        }
    }


}

.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .border{
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        height: 40px;
        width: 350px;
        padding: 1px;
        border-radius: 5px;
    }

    .title {
        color: white;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    input {
        background-color: #000;
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 5px;
        outline: none;
        color: white;
        display: block;
        margin-right: 0;
        padding: 0 10px;
    }

    .invalid_email{
        font-size: 10px;
        font-weight: 600;
        width: 100%;
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        -webkit-background-clip: text;
        color: transparent;
    }

    .validate_login {
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        color: white;
        border: none;
        border-radius: 25px;
        height: 40px;
        width: 350px;
        margin-top: 15px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.dashboard {
    height: 100%;
    width: 100%;
    background-color: #000;

    .header {
        height: 7%;
        display: flex;
        align-items: center;
        background-color: #080808;
        box-sizing: border-box;
        padding: 0 50px;
        border-bottom: 2px solid;
        /* Set the border width */
        border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
        color: white;

        .logo {
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
            -webkit-background-clip: text;
            color: transparent;


            &:hover {
                font-size: 21px;
                transition: all 0.2s;

            }
        }

        .logout {
            font-size: 15px;
            font-weight: 100;
            margin-left: auto;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                font-weight: 400;
                opacity: 0.8;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                -webkit-background-clip: text;
                /* Clip the background to the text */
                color: transparent;
                /* Make the text itself transparent */
                transition: all 0.2s;
            }
        }
    }

    .container {
        height: 93%;
        width: 100%;
        box-sizing: border-box;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        @media screen and (max-width: 1200px) {
            justify-content: center;
        }


        .card {
            height: 400px;
            width: 350px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            padding: 35px;
            gap: 15px;
            cursor: pointer;
            color: white;
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);

            &:hover {
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
            }

            .title {
                font-size: 50px;
                font-weight: 600;
            }

            .subtitle {
                font-weight: 100;
            }
        }



    }

}

.hostdashboard {
    width: 100%;
    height: 100%;
    background-color: #000;

    .header {
        height: 7%;
        display: flex;
        align-items: center;
        background-color: #080808;
        box-sizing: border-box;
        padding: 0 50px;
        border-bottom: 2px solid;
        /* Set the border width */
        border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
        color: white;

        .logo {
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
            -webkit-background-clip: text;
            /* Clip the background to the text */
            color: transparent;
            /* Make the text itself transparent */

            &:hover {
                font-size: 21px;
                transition: all 0.2s;

            }
        }

        .logout {
            font-size: 15px;
            font-weight: 100;
            margin-left: auto;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                font-weight: 400;
                opacity: 0.8;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                -webkit-background-clip: text;
                /* Clip the background to the text */
                color: transparent;
                /* Make the text itself transparent */
                transition: all 0.2s;
            }
        }
    }


    .container {
        position: relative;
        box-sizing: border-box;
        padding: 50px;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;

        .card {
            min-width: 260px;
            width: 350px;
            height: 150px;
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;

            .locked{
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                @keyframes vibration {
                    0% { transform: translate(0); }
                    25% { transform: translate(-2px, 2px); }
                    50% { transform: translate(2px, -2px); }
                    75% { transform: translate(-2px, 2px); }
                    100% { transform: translate(0); }
                  }

                  .lock {
                    padding: 5px;
                    background-color: #080808;
                    border-radius: 5px;
                    display: inline-block;
                    cursor: pointer; /* Indicates it's interactive */
                    transition: transform 0.1s ease-in-out;
                  

                    &:hover {
                        animation: vibration 0.3s ease-in-out infinite; /* Run the animation when hovering */
                      }
                }

                &:hover{
                    background-color: rgba(0, 0, 0, 0.3);
                }
            }


            .title {
                font-size: 30px;
                font-weight: 600;
            }

            .description {
                font-size: 20px;
                font-weight: 100;
            }

            &:hover {
                background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
            }
        }


    }
}

.create {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .delete_confirmation{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.8);

        .del_container{
            height: 150px;
            width: 250px;
            background-color: #080808;
            border-radius: 25px;
            flex-direction: column;
            padding: 25px;
            display: flex;
            gap: 25px;
            align-items: end;
            justify-content: center;
            text-align: center;

            .action{
                display: flex;
                gap: 25px;
                width: 100%;
                align-items: end;
                justify-content: center;
            }

            .confirm{
                border: 1px solid #FF4C4C;
                border-radius: 10px;
                width: fit-content;
                color: #FF4C4C;
                padding: 5px 10px;
                cursor: pointer;

                &:hover{
                    background-color: #FF4C4C;
                    color: #080808;
                }
            }

            .cancel{
                border: 1px solid grey;
                color: grey;
                border-radius: 10px;
                width: fit-content;
                padding: 5px 10px;

                cursor: pointer;

                &:hover{
                    background-color: grey;
                    color: #080808;
                }
            }
        }
    }

    .close {
        display: block;
        position: absolute;
        top: 50px;
        right: 50px;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    
    .border{
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        width: 50%;
        padding: 1px;
        border-radius: 25px;
    }

    .create_dashboard {
        position: relative;
        box-sizing: border-box;
        padding: 50px 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        height: fit-content;

        .actions{
            display: flex;
            gap: 10px;

            .delete{
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                width: 40px;
                height: 30px;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
                }
            }

            .save {
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                width: 60px;
                height: 30px;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
    
                @keyframes spin {
                    100% {
                      transform: rotate(360deg);
                    }
                  }
    
                .loading_spinner{
                    border: 4px solid rgba(255, 255, 255, 0.4);
                    border-left-color: white; /* Color of the spinner */
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    animation: spin 1s linear infinite;
                }
    
                &:hover {
                    background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
                }
            }
        }



        .titles {
            width: 100%;
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            input {
                background-color: transparent;
                border: none;
                outline: none;
                color: white;

                &.title {
                    font-size: 35px;
                }

                &.description {
                    font-size: 25px;
                }
            }
        }



        .question_container {
            display: flex;
            box-sizing: border-box;
            align-items: center;
            padding: 0 50px;
            gap: 10px;
            width: 100%;

            .question {

                .bin {
                    position: absolute;
                }
            }

            div {
                height: 30px;
                width: 30px;
                border-radius: 2px;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .question_dashboard {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 0 50px;
            gap: 10px;
            width: 100%;

            .question {
                background-color: transparent;
                border: 1px solid #2E2E2E;
                box-sizing: border-box;
                padding: 5px;
                border-radius: 2px;
                outline: none;
                color: white;
            }

            .answers {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .add_question {
                    text-align: center;
                    font-size: 12px;
                    background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                    padding: 4px;
                    border-radius: 2px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }

                }

                .row {
                    display: grid;
                    box-sizing: border-box;
                    width: 100%;
                    column-gap: 10px;
                    grid-template-columns: 50px 1fr 30px;

                    .border_rank {
                        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                        box-sizing: border-box;
                        border-radius: 5px;
                        padding: 1px;

                        .black_background {
                            background-color: #000;
                            border-radius: 5px;
                        }
                    }

                    .rank {
                        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                        -webkit-background-clip: text;
                        /* Clip the background to the text */
                        color: transparent;
                        /* Make the text itself transparent */
                        font-weight: 800;
                        border-radius: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 2px;
                    }

                    .record {
                        background-color: transparent;
                        width: 100%;
                        border: none;
                        border-radius: 2px;
                        box-sizing: border-box;
                        padding: 5px 10px;
                        border-radius: 2px;
                        outline: none;

                        color: white;
                        // background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                        // -webkit-background-clip: text;
                        // /* Clip the background to the text */
                        // color: transparent;
                    }

                    .remove {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 2px;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

.create_dashboard {
    height: 100%;
    width: 100%;
    background-color: #000;

    .header {
        height: 7%;
        display: flex;
        align-items: center;
        background-color: #080808;
        box-sizing: border-box;
        padding: 0 50px;
        border-bottom: 2px solid;
        /* Set the border width */
        border-image: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%) 1;
        color: white;

        .logo {
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
            -webkit-background-clip: text;
            /* Clip the background to the text */
            color: transparent;
            /* Make the text itself transparent */

            &:hover {
                font-size: 21px;
                transition: all 0.2s;

            }
        }

        .logout {
            font-size: 15px;
            font-weight: 100;
            margin-left: auto;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                font-weight: 400;
                opacity: 0.8;
                background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
                -webkit-background-clip: text;
                /* Clip the background to the text */
                color: transparent;
                /* Make the text itself transparent */
                transition: all 0.2s;
            }
        }
    }

    .add_quizz {
        position: absolute;
        bottom: 50px;
        right: 50px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
            border: 1px solid white;
        }
    }

    .container {
        position: relative;
        box-sizing: border-box;
        padding: 50px;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;


        .card {
            min-width: 260px;
            width: 350px;
            height: 150px;
            background: linear-gradient(149deg, #1e90ff 0%, #6a0dad 96.86%);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            box-sizing: border-box;
            cursor: pointer;


            .title {
                font-size: 30px;
                font-weight: 600;
            }

            .description {
                font-size: 20px;
                font-weight: 100;
            }

            &:hover {
                background: linear-gradient(149deg, #6a0dad 0%, #1e90ff 96.86%);
            }
        }
    }
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;

    .ranking{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .entry{
            display: grid;
            position: relative;
            grid-template-columns: 62px 262px;
            height: 62px;
            background-color: #2E2E2E;

            .lock{
                position: absolute;
                height: 62px;
                left: 62px;
                width: 262px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #808080;
            }

            .rank, .record{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .rank{
                background-color: #7c00e9;
                font-weight: 800;
                font-size: 25px;
            }

            .record{
                background-color: white;
                color: black;
                font-weight: 700;
                font-size: 20px;
            }

        }
    }
}